<h2>施設情報の編集</h2>

<% if @room.errors.any? %>
    <% @room.errors.full_messages.each do |message| %>
        <div class="error_message">
        <%= message %>
        </div>
    <% end %>
<% end %>

<%= form_with model:@room, url: {controller: 'room', action: 'update'}, local:true  do |f| %>
    <div class="field">
      <%= f.label :name, "施設名" %><br/>
      <%= f.text_field :name, value: @room.name %>
    </div>
  
    <div class="field">
      <%= f.label :introduce, "紹介文" %><br/>
      <%= f.text_area :introduce, value: @room.introduce %>
    </div>

    <div class="field">
    <%= f.label :price, "料金" %><br/>
    <%= f.text_field :price, value: @room.price %>
    </div>

    <div class="field">
    <%= f.label :address, "住所" %><br/>
    <%= f.text_field :address, value: @room.address %>
    </div>

    <div class="field">
    <%= f.label :image_name, "画像" %><br/>
    <%= f.file_field :image_name, value: @room.image_name %>
    </div>
  
    <div class="actions">
      <%= f.submit "保存" %>
    </div>
    
  <% end %>