<h2>登録済み一覧</h2>
<table>
    <tr>
        <th>画像</th>
        <th>施設名</th>
        <th>紹介文</th>
        <th>料金</th>
        <th>作成日</th>
    </tr>
    <% @room.each do |r| %>
        <tr>
            <td><%= image_tag r.image_name.url, style: "width: 200px; height: auto;" %></td>
            <td><%= link_to "#{r.name}", {controller: 'room', action: 'show', id: r.id} %></td>
            <td><%= r.introduce %></td>
            <td>¥<%= r.price %>~</td>
            <td><%= r.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
<% end %>