<div class="top_room_show">
  <%= link_to "←戻る",:back %>
  <% if user_signed_in?  %>
    <% if @room.user_id == current_user.id %>
      <%= link_to("編集","/room/#{@room.id}/edit")%>
    <% end %>
  <% end %>
</div>
<div class="main_room_show">
  <%= image_tag @room.image_name, style: "width: 300px; height: auto;" %>
  <div class="contain_room_show">
    <%= @room.name %></br>
    ¥<%= @room.price %>~</br>
    <%= @room.address %></br>
    <%= @room.introduce %>
  </div>
</div>

<% if @reservation.errors.any? %>
<% @room.errors.full_messages.each do |message| %>
    <div class="error_message">
    <%= message %>
    </div>
<% end %>
<% end %>

<% if user_signed_in?  %>
  <%= form_with model:@reservation, url: reservation_confirm_path, local:true  do |f| %>
    <div class = "field_show">
      <div class="field">
        <%= f.label :start_date,"チェックイン" %><br/>
        <%= f.date_field :start_date %>
      </div>
      <div class="field">
        <%= f.label :end_date, "チェックアウト" %><br/>
        <%= f.date_field :end_date %>
      </div>
      <div class="field">
        <%= f.label :people, "人数" %><br/>
        <%= f.text_field :people %>
      </div>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <%= f.hidden_field :user_id, :value => @user.id %>
    </div>
        <div class="actions_show">
        <%= f.submit "予約する" %>
      </div>
    
  <% end %>
<% else %>
  <div class="show_reservation">
    <%= link_to '予約される方はこちらからログイン',new_user_session_path %>
  </div>
<% end %>