<div class="top_profile">
設定
</div>
<div class="profile">
  <div class="contain_profile">
    <%= link_to 'アカウント','/user/account' %></br>
    <%= link_to 'プロフィール','/user/profile' %>
  </div>
  <div class="main_profile">
    アイコン画像</br>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar,style: "border-radius: 50%; width: 80px; height: 80px; object-fit:cover;" %></br>
    <% end %>
    名前 </br>
    <%= @user.name %></br>
    自己紹介</br>
    <%= @user.profile %></br>
    <%= link_to 'プロフィール編集','/user/profile/edit' %>
  </div>
</div>