

予約内容の確認
チェックイン
<%= @reservation.start_date %>
チェックアウト
<%= @reservation.end_date %>
人数
<%= @reservation.people %>
お支払い金額


<%= form_with model:@reservation, url: reservation_create_path, local:true  do |f| %>    
    <div class="field">
        <%= f.hidden_field :room_id %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :start_date %>
        <%= f.hidden_field :end_date %>
        <%= f.hidden_field :people %>
        <%= f.submit "予約" %>
    </div>
    
  <% end %>